[33mcommit 17fb7c6d7e301f211b2bd8fcb9bf2fbafd735faf[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m, [m[1;31morigin/master[m[33m)[m
Author: em20180133 <enamarkovic91@gmail.com>
Date:   Thu Dec 16 15:04:28 2021 +0100

    Azuriran index.html-kostur

[33mcommit c5939d3ff6ed94f38a38499caa5332f6695785ad[m
Author: em20180133 <enamarkovic91@gmail.com>
Date:   Thu Dec 16 14:18:32 2021 +0100

    Dodat je fajl pocetna.php

[33mcommit e1753fdede9a78c79e2660fb7769fddb8398482d[m
Author: em20180133 <enamarkovic91@gmail.com>
Date:   Thu Dec 16 14:14:35 2021 +0100

    Dodat je index.php
