* {
    font-family: cursive;
    color: rgb(77, 35, 5);
    background-color: #FFDAB9;
    
   
}

h1{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 460px;  
    font-size: 1cm;
    align-self: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
    margin-left: 175px;
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    font-size: 15px;
    align-self: center;
}
@keyframes mover {
    0%{
        text-shadow:0 0 30px rgba(0,0,0,0) ;
        
    }
    50%{
        text-shadow:0 0 30px rgba(0,0,0,0.30) ;
        transform: translateY(25px);
    }
    100%{
        text-shadow:0 0 30px rgba(0,0,0,0) ;
    }
}
.div1{
    
    float: center;
    border: 3px white; 
    border-style: inset;
    border-width: 5px;
    border-color: rgb(43, 19, 3);
    
}


.div3{
  
    align-content: center;
    margin-left: 600px;  
}

.div4{
    align-content: center;
    margin-left: 600px;  
}

.div5{
    align-content: center;
    margin-left: 600px;  
}


body{
    background-color: #FFDAB9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
   
}
button{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(223, 11, 82);
    border-radius: 10px;
}


.divx{
    margin: 20px;
    background-color: whitesmoke;
    align-content: center;
    
}


.div7{
    margin-left: 650px;
    
}

#azuriraj{
    margin-top: 20px;
    margin-left: 5px;
}

#ukloni{
    margin-left: 15px;
    margin-top: 20px;  
}



#uredi{
    margin-top: 20px;  
    margin-left: 5px;
}

#prijavise{
    margin-left: 75px;
}

#vidi{
    margin-left: 15px;
}
#nadji{
    margin-left: 35px;
}

.prijava-form form{
    padding: 3%;
} 


.prijava-form form .row{
    margin-bottom: -7%;
}


 .prijava-form h3{
    margin-bottom: 8%;
    margin-top: -5%;
    text-align: center;
   
} 


div.modal-content{
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}


#azurirajModal{
   border-radius: 10px;
    margin-left: 510px;
    margin-top: 180px;
   width: 450px;
   height: 407px;
   
}

#volontirajModal{
    margin-left: 490px;
    margin-top: 220px;
   width: 500px;
   height: 328px;
   border-radius: 10px;
   
  
}
.div{
    height: 70px;
   
}  


#table{
    border-style: double;
   
    border-color:rgb(223, 11, 82) ;
    text-align: center;
   
}


.zatvori{
     margin-top: 5px;
     margin-left: 5px;
}
table{
   margin-left: 400px;
}
table,tr,td{
   width: 650px;
    background-color: white;
}

table,tr,th{
    
background-color: rgb(230, 105, 105);
text-align: center;
}
.oznaci{
background-color:white;
}
